name: Test Report

on:
  workflow_run:
    workflows: ['Run Tests']
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - uses: dorny/test-reporter@v1.5.0
      with:
        artifact: test-results
        name: Test Results
        path: '*.xml'
        reporter: java-junit
